MYSQL_ROOT_PASSWORD= """contraseña de la base de datos"""
SMTP_HOST= smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=  """nombre correo electronico"""
SMTP_PASSWORD= """contraseña correo electronico"""
SMTP_FROM=  """nombre correo electronico"""
SMTP_FROM_NAME=Centro Óptico San Francisco
EMAIL_API_BASE_URL=http://localhost:8080
SMTP_USE_TLS=true
